spring:
  profiles:
    active: local
  application:
    name: dreamfield

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    database: postgresql
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL10Dialect
  flyway:
    enabled: true
    out-of-order: true
  session:
    store-type: redis